@import '../../resources/settings.scss';

.Navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  &__brand {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: default;

    & img {
      z-index: 60;
      height: 80%;
    }

    & .brand__label {
      z-index: 60;
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 0.5rem;
      color: $text;
      margin-top: -3px;

      @media (max-width: $xs) {
        font-size: 1rem;
      }
    }

    @media (max-width: $xs) {
      height: 3rem;
    }
  }

  @media (max-width: $xs) {
    padding: 0.5rem 1rem;
  }
}
